<header>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 header">
          <ul class="nav-icon">
            <li><a href="/" class="site-title">{{site.title}}</a></li>
            <li><a href="/feed.xml" title="Feed" class="hint-top-middle"><i class="fa fa-feed"></i></a></li>
            <li><a href="https://github.com/{{site.github}}" title="Github" data-hint="Github"  title="Github"><i class="fa fa-github"></i></a></li>
            <li><a href="https://linkedin.com/in/{{site.linkedin}}" title="Linkedin" data-hint="Linkedin"  title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
          </ul>
          <!-- site title -->
          <h1 class="site-name">{{site.author}}</h1>
          <!-- tag 1 -->
          <p class="site-tagline">I am a <span class="profession">{{site.profession}}</span></p>
           <!-- tag 2 -->
           <p class="site-tagline">{{site.tagline}}</p>
      </div>
    </div>
  </div>
</header>
