<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{site.title}}</title>
    <!-- Bootstrap Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400" rel="stylesheet">
    <!-- fontawesome fonts -->
    <link rel="stylesheet" href="  {{ site.baseurl }}/css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">
    <!-- site stylesheet -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    {% include header.html %}
    <div class="container">
      {{content}}
    </div>
    <!-- footer section -->
    {% include footer.html %}
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
